<!doctype html>
<html>
<head></head>

<body>
    <div id="app"></div>
    <!--div id="app1"></div>
    <div id="app2">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div-->
</body>
<script src="./dist/build.js"></script>
</html>